$num-arrows: 24;

.universe {
  position: relative;
  width: 100vmin;
  height: 100vmin;
  min-width: 300px;
  min-height: 300px;
  margin: auto;
  background-color: hsla(228deg,96%,88%,.8);
}
.arrow {
  width: 1px;  /* easier to debug when you can see the rectangle */
  height: 50%;
  position: absolute;
  top: 0;
  left: 50%;
  transform-origin: bottom left;
}
@for $i from 1 through $num-arrows {
  .arrow-#{$i} {
    transform: rotate(calc(360deg / #{$num-arrows} * #{$i}))
  }
}
.arrow:after {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateX(-50%);
  content: '^';
  background-color: hsla(70deg,45%,40%,.8);
  padding: .7em 1em;
  clip-path: polygon(0 0, 100% 0, 87% 100%, 13% 100%);
}
.bee {
  width: 1px;
  height: 1px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.bee:after {
  width: 1em;
  height: 1em;
  background-color: hsla(49eg,90%,90%,.9);
  clip-path: circle(50%);
  padding: .5em;
  position: absolute;
  top: 50%;
  left: 50%;
  content: ':)';
  text-align: center;
  transform: translate(-50%, -50%) rotate(90deg);
}
